body { font-size: 12px; }
fieldset { padding: 0; border: solid 1px #000; margin: 0 0 8px 0; padding-left: 5px; padding-bottom: 5px; }
fieldset div { padding-left: 10px; }

.ui-dialog .ui-dialog-content { padding: 0.5em; }
.ui-button-text-only .ui-button-text { padding: 0.25em 0.75em; }

.center { text-align: center; }
.left { float: left !important; }
.right { float: right !important; }
.ui-dialog-titlebar .right { margin-right: 0; padding-right: 0; }
.icon-none { background-position: -160px 0; }
.icon-cross { background-image: url(./icon/cross.png) !important; }
.icon-pencil { background-image: url(./icon/pencil.png) !important; }
.icon-export { background-image: url(./icon/page_white_get.png) !important; }
.icon-import { background-image: url(./icon/page_white_put.png) !important; }

#tongwenWrap { width: 550px; margin: 0 auto; }

#paneUrlFilter { border: 1px solid #DDDDDD; clear: right; height: 300px; overflow: auto; position: relative; width: 100%; }
#tableUrlList { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#tableUrlList li { margin: 0 3px 3px 3px; padding: 3px; height: 20px; white-space: nowrap; }
#tableUrlList li > span { display: block; float: left; height: 20px; }
#tableUrlList li span.icon { width: 16px; height: 16px; margin-right: 3px; margin-top: -1px; padding: 2px; }
#tableUrlList li span.url { width: 335px; overflow: hidden; }
#tableUrlList li span.zhflag { width: 70px; }

#tableUrlEdit { border: 1px solid #DDDDDD; clear: right; position: relative; width: 100%; margin: 5px 0 0 0; }
#tableUrlEdit > table { margin: 5px; }
#tableUrlEdit #urlAnchor { width: 80%; }

#paneTrad, #paneSimp { border: 1px solid #DDDDDD; clear: right; height: 250px; overflow: auto; position: relative; width: 100%; }
#tableTradList, #tableSimpList { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#tableTradList li, #tableSimpList li { margin: 0 3px 3px 3px; padding: 3px; height: 20px; white-space: nowrap; }
#tableTradList li > span, #tableSimpList li > span { display: block; float: left; height: 20px; }
#tabsPhrase .trad, #tabsPhrase .simp { width: 43%; overflow: hidden; }
#tabsPhrase li span.icon { width: 16px; height: 16px; margin-right: 3px; margin-top: -1px; padding: 2px; }
#tabsPhrase .trad, #tabsPhrase .simp { border-right: 1px solid #DDDDDD; }

#tableTradPhraseEdit, #tableSimpPhraseEdit { border: 1px solid #DDDDDD; clear: right; position: relative; width: 100%; margin: 5px 0 0 0; }
#tableTradPhraseEdit > table, #tableSimpPhraseEdit > table { margin: 5px; }
#tableTradPhraseEdit input, #tableSimpPhraseEdit input { width: 75%; }

#msgContent { font-size: 14px; }

#tongwenOptions { width: 100%; height: 200px; }

#tabsGeneral fieldset div input[type="radio"] {display: block; float: left;}
#tabsGeneral fieldset div input[type="radio"] + label { display: inline-block; clear: right; }
.ui-icon-info + span { display: inline-block; width: 95%; }
