{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "browser": true
  },
  "extends": ["google", "plugin:import/errors", "prettier"],
  "plugins": ["import", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "require-jsdoc": "off",
    "no-undef": "error"
  }
}
