body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(251, 251, 251);
  -moz-user-select: none;
  cursor: default;
  padding-bottom: 30px;
}

.categories {
  background-color: rgb(66, 79, 90);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200;
  height: 100%;
  padding-top: 30px;
}

.categoryItem {
  cursor: default;
  color: rgb(193, 193, 193);
  min-height: 40px;
  padding: 12px 2px 0px 2px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(66, 79, 90);
}

.categoryItem[selected] {
  color: rgb(242, 242, 242);
  background-color: rgb(52, 63, 72);
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(255, 153, 0);
}

.categoryItem span#general,
.categoryItem span#contextmenu,
.categoryItem span#url,
.categoryItem span#phrase,
.categoryItem span#support {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.categoryItem span#general::before {
  display: block;
  content: "";
  background-image: url("./icon/common.svg");
  background-size: cover;
  float: left;
  width: 24px;
  height: 24px;
}

.categoryItem span#contextmenu::before {
  display: block;
  content: "";
  background-image: url("./icon/contextmenu.svg");
  background-size: cover;
  float: left;
  width: 24px;
  height: 24px;
}

.categoryItem span#url::before {
  display: block;
  content: "";
  background-image: url("./icon/filter.svg");
  background-size: cover;
  float: left;
  width: 24px;
  height: 24px;
}

.categoryItem span#phrase::before {
  display: block;
  content: "";
  background-image: url("./icon/advanced.svg");
  background-size: cover;
  float: left;
  width: 24px;
  height: 24px;
}

.categoryItem span#support::before {
  display: block;
  content: "";
  background-image: url("./icon/github.svg");
  background-size: cover;
  float: left;
  width: 24px;
  height: 24px;
}

.categoryItem span.categoriesText {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  margin-top: 2px;
  padding: 0px 0px 0px 6px;
}

.content {
  display: none;
  padding: 35px 0px 0px 240px;
  /*width: 100%;
  height: 100%;
  overflow: scroll;*/
  color: rgb(66, 78, 90);
}

.content[selected=true] {
  display: block;
}

.contentHead {
  display: inline-block;
  font-size: 30px;
  padding-bottom: 20px;
  width: 55%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(193, 193, 193);
}

.groupTitle {
  font-size: 20px;
  margin-top: 30px;
  -moz-user-select: text;
}

.labelText {
  font-size: 13.75px;
  font-weight: 300;
  -moz-user-select: text;
}

/* radio box */
ul{
  /*display: inline-block;*/
  display: block;
  margin: 0px;
  padding: 0px 8px 0px 0px;
}

ul>ul{
  padding: 0px 8px 0px 28px;
}

ul.inline{
  display: inline-block;
}

ul li{
  display: inline-block;
  color: rgb(66, 78, 90);
  display: block;
  position: relative;
}

ul li.inline{
  display: inline-block;
}

.spacer {
  display: inline-block;
  width: 8px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
  width:0px;
  height:0px;
}

ul li input[type=radio] + label,
ul li input[type=checkbox] + label{
  display: inline-block;
  position: relative;
  padding: 6px 5px 6px 28px;
  margin: 2px auto;
  z-index: 9;
  cursor: default;
}

ul li .check{
  display: inline-block;
  position: absolute;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 4px;
  left: 0px;
	z-index: 5;
	/*transition: border .25s linear;*/
}

ul li:hover .check {
  border: 1px solid rgb(0, 149, 221);
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 4px;
	left: 4px;
  margin: auto;
	/*transition: background 0.25s linear;*/
}

input[type=radio]:checked ~ .check {
  border: 1px solid rgb(193, 193, 193);
}

input[type=radio]:checked ~ .check::before{
  background: rgb(0, 149, 221);
}

/* checkbox */
ul li input[type=checkbox]{
  position: absolute;
  visibility: hidden;
  width:0px;
  height:0px;
}

ul li .checkbox{
  display: inline-block;
  position: absolute;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 2px;
  height: 20px;
  width: 20px;
  top: 4px;
  left: 0px;
	z-index: 5;
	/*transition: border .25s linear;*/
}

ul li:hover .checkbox {
  border: 1px solid rgb(0, 149, 221);
}

ul li .checkbox::before {
  display: block;
  position: absolute;
	content: '';
  height: 5px;
  width: 10px;
  top: 5px;
	left: 4px;
  margin: auto;
  border: 2px solid rgb(0, 149, 221);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked ~ .checkbox::before{
  opacity: 1;
}

/* color */
input[type=color] {
  margin: 2px 0px;
  padding: 4px 0px;
  width: 40px;
  height: 20px;
  border: 1px solid rgb(193, 193, 193);
}

/* number */
input[type=number] {
  margin: 2px 0px;
  padding: 2px 0px;
  width: 40px;
  height: 20px;
  border: 1px solid rgb(193, 193, 193);
}

/* line width */
input[type=number].lineWidth {
  color: transparent;
}

input[type=number] ~ .line{
  display: block;
  position: absolute;
  content: '';
  height: 5px;
  width: 20px;
  top: 6px;
  left: 4px;
  margin: auto;
  border-style: solid;
  border-bottom-width: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
  opacity: 1;
}

/* listBox */
.listBox {
  border: 1px solid rgb(193, 193, 193);
}
.tableRow {
  cursor: default;
  display: block;
  height: 32px;
  margin: 0px;
  padding: 0px;
}

.tableHeader {
  border-bottom: 1px solid rgb(193, 193, 193);
  background-color: rgb(223, 223, 223);
}
.tableFooter {
  width: 660px;
  height: 1px;
}

div.cellConvert,
div.cellUrl,
div.cellAction
{
  border-right: 5px solid transparent;
}

.tableHeader div.cellConvert,
.tableHeader div.cellUrl,
.tableHeader div.cellAction
{
  border-right: 1px solid rgb(193, 193, 193);
}

.tableRow div.cellEnabled {
  display: inline-block;
  height: 32px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.tableRow div.cellUrl {
  display: inline-block;
  width: 400px;
  padding-left: 4px;
  vertical-align:10px;
}
.tableRow div.cellAction {
  display: inline-block;
  width: 140px;
  padding-left: 4px;
  vertical-align:10px;
}
.tableRow div.cellConvert {
  display: inline-block;
  width: 270px;
  padding-left: 4px;
  vertical-align:10px;
}

.tableRow div.cellAdd,
.tableRow div.cellMoveUp,
.tableRow div.cellMoveDown,
.tableRow div.cellEdit,
.tableRow div.cellClean,
.tableRow div.cellDelete {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: none;
  background-size: cover;
}
.tableRow div.cellAdd {
  background-image: url("../icon/add.svg");
  opacity: 0.6;
}
.tableRow div.cellMoveUp {
  background-image: url("../icon/move-up.svg");
  opacity: 0.6;
}
.tableRow div.cellMoveDown {
  background-image: url("../icon/move-down.svg");
  opacity: 0.6;
}
.tableRow div.cellAdd:hover,
.tableRow div.cellMoveUp:hover,
.tableRow div.cellMoveDown:hover {
  opacity: 0.8;
}

li.tableRow:nth-child(odd):not([selected=true]):not(.tableFooter) {
  background-color: rgb(233, 233, 233);
}

.tableRow:hover:not(.tableHeader):not([selected=true]),
li.tableRow:not([selected=true]):nth-child(odd):hover:not(.tableHeader) {
  background-color: rgb(210, 240, 250);
}

.tableRow:hover:not(.tableHeader) div.cellEdit{
  background-image: url("./icon/edit-hover.svg");
  opacity: 0.8;
  cursor: default;
}
.tableRow[selected=true]:not(.tableHeader) div.cellEdit{
  background-image: url("./icon/edit.svg");
  cursor: default;
}
.tableRow[selected=true]:not(.tableHeader) div.cellClean{
  background-image: url("./icon/clean.svg");
  cursor: default;
}
.tableRow[selected=true]:not(.tableHeader) div.cellDelete{
  background-image: url("./icon/delete.svg");
  cursor: default;
}

.tableRow[selected=true] {
  /*background-color: rgb(0, 149, 221);*/
  background-color: rgb(0, 149, 221);
  color: rgb(242, 242, 242);
}

.screenMask {
  display: none;
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  opacity: 0.6;
  z-index: 655350;
}
.urlFilterEditor,
.userPhraseEditor {
  background-color: rgb(242, 242, 242);
  display: none;
  position: fixed;
  width:420px;
  height:150px;
  left: calc( 50% - 210px );
  top: calc( 50% - 75px );
  padding-top: 20px;
  padding-left: 20px;
  opacity: 1;
  z-index: 655351;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  overflow-y: hidden;
}

.dialogButton {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 3px;
  background-color: rgb(242, 242, 242);
  display: block;
  position: absolute;
  width: 100px;
  height: 30px;
  z-index: 655352;
}
.dialogButton:hover {
  background-color: rgb(222, 222, 222);
}
.dialogButton:active {
  background-color: rgb(202, 202, 202);
}
.dialogButton.btnCancel {
  right: 10px;
  bottom: 10px;
}

.dialogButton.btnAccept {
  right: 120px;
  bottom: 10px;
}
.dialogButton .labelText {
  vertical-align: middle;
  margin: 8px auto;
}

button {
  position: absolute;
  height: 30px;
  font-size: 13.75px;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 1;
}
button:not([disabled=true]):hover {
  background-color: rgb(242, 242, 242);
}
button:active {
  background-color: rgb(222, 222, 222);
}

#addNewUrlFilter {
  /*position: relative;*/
  display: block;
  /*width: 756px;*/
}

div.space {
  display: block;
  height: 4px;
}
