@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tongwen-button {
    /* list-style-image: url("images/tongwen.png"); */
    list-style-image: url("chrome://tongwen/skin/images/tongwen.png");
}

#tongwen-button:hover,
#tongwen-button[buttonover="true"] {
    /* list-style-image: url("images/tongwen-hover.png"); */
    list-style-image:  url("chrome://tongwen/skin/images/tongwen-hover.png");
}

#tongwen-button:active,
#tongwen-button[buttondown="true"]{
    /* list-style-image: url("images/tongwen-active.png"); */
    list-style-image:  url("chrome://tongwen/skin/images/tongwen-active.png");
}

toolbar[iconsize="small"] #tongwen-button {
    /* list-style-image: url("images/tongwen.png"); */
    list-style-image: url("chrome://tongwen/skin/images/tongwen-small.png");
}

toolbar[iconsize="small"] #tongwen-button:hover,
toolbar[iconsize="small"] #tongwen-button[buttonover="true"] {
    /* list-style-image: url("images/tongwen-hover.png"); */
    list-style-image:  url("chrome://tongwen/skin/images/tongwen-hover-small.png");
}

toolbar[iconsize="small"] #tongwen-button:active,
toolbar[iconsize="small"] #tongwen-button[buttondown="true"]{
    /* list-style-image: url("images/tongwen-active.png"); */
    list-style-image:  url("chrome://tongwen/skin/images/tongwen-active-small.png");
}


#tongwen-button-web-trad { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-web-trad.png"); }
#tongwen-button-web-sim { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-web-sim.png"); }
#tongwen-button-clip-trad { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-clip-trad.png"); }
#tongwen-button-clip-sim { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-clip-sim.png"); }
#tongwen-button-textzoom-enlarge { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-enlarge-24.png"); }
#tongwen-button-textzoom-reduce { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-reduce-24.png"); }
#tongwen-button-textzoom-reset { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-reset-24.png"); }
#tongwen-button-show-filter-dialog { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-new-24.png"); }
#tongwen-button-remove-filter-dialog { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-remove-24.png"); }
#tongwen-button-config {  list-style-image: url("chrome://tongwen/skin/images/tongwen-config-24.png"); }

/* standalone toolbar */
#tongwen-button2-main { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-main.png"); }
#tongwen-button2-web-trad { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-web-trad-16.png"); }
#tongwen-button2-web-sim { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-web-sim-16.png"); }
#tongwen-button2-clip-trad { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-clip-trad-16.png"); }
#tongwen-button2-clip-sim { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-clip-sim-16.png"); }
#tongwen-button2-textzoom-enlarge { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-enlarge-16.png"); }
#tongwen-button2-textzoom-reduce { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-reduce-16.png"); }
#tongwen-button2-textzoom-reset { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-reset-16.png"); }
#tongwen-button2-show-filter-dialog { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-new.png"); }
#tongwen-button2-add-filter-dialog-trad { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-new-trad-16.png"); }
#tongwen-button2-add-filter-dialog-sim { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-new-sim-16.png"); }
#tongwen-button2-remove-filter-dialog { 	list-style-image: url("chrome://tongwen/skin/images/tongwen-remove-16.png"); }
#tongwen-button2_config{  list-style-image: url("chrome://tongwen/skin/images/tongwen-config.png"); }

toolbar[iconsize="small"] #tongwen-button-web-trad {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-web-trad-16.png");
}

toolbar[iconsize="small"] #tongwen-button-web-sim {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-web-sim-16.png");
}

toolbar[iconsize="small"] #tongwen-button-clip-trad {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-clip-trad-16.png");
}
toolbar[iconsize="small"] #tongwen-button-clip-sim {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-clip-sim-16.png");
}

toolbar[iconsize="small"] #tongwen-button-textzoom-enlarge {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-enlarge-16.png");
}

toolbar[iconsize="small"] #tongwen-button-textzoom-reduce {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-reduce-16.png");
}

toolbar[iconsize="small"] #tongwen-button-textzoom-reset {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom-reset-16.png");
}

toolbar[iconsize="small"] #tongwen-button-show-filter-dialog {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-new.png");
}

toolbar[iconsize="small"] #tongwen-button-remove-filter-dialog {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-remove-16.png");
}

toolbar[iconsize="small"] #tongwen-button-config {
    list-style-image: url("chrome://tongwen/skin/images/tongwen-config.png");
}

/* context menu css */
.tongwen-main {  list-style-image: url("chrome://tongwen/skin/images/tongwen-main.png"); }
.tongwen-textarea {  list-style-image: url("chrome://tongwen/skin/images/tongwen-textarea.png"); }
.tongwen-web {  list-style-image: url("chrome://tongwen/skin/images/tongwen-web.png"); }
.tongwen-clipboard {  list-style-image: url("chrome://tongwen/skin/images/tongwen-clipboard.png"); }
.tongwen-auto {  list-style-image: url("chrome://tongwen/skin/images/tongwen-auto.png"); }
.tongwen-font {  list-style-image: url("chrome://tongwen/skin/images/tongwen-font.png"); }
.tongwen-config {  list-style-image: url("chrome://tongwen/skin/images/tongwen-config.png"); }
.tongwen-zoom {  list-style-image: url("chrome://tongwen/skin/images/tongwen-zoom.png"); }
.tongwen-report {  list-style-image: url("chrome://tongwen/skin/images/tongwen-bug.png"); }
.tongwen-applyfont {  list-style-image: url("chrome://tongwen/skin/images/tongwen-fonts-16.png"); }


.tongwen-import {  list-style-image: url("chrome://tongwen/skin/images/tongwen-import.png"); }
.tongwen-export {  list-style-image: url("chrome://tongwen/skin/images/tongwen-save.png"); }

.tongwen-add {  list-style-image: url("chrome://tongwen/skin/images/tongwen-new.png"); }
.tongwen-delete {  list-style-image: url("chrome://tongwen/skin/images/tongwen-delete.png"); }
.tongwen-selectall {  list-style-image: url("chrome://tongwen/skin/images/tongwen-selectall.png"); }
.tongwen-lang {  list-style-image: url("chrome://tongwen/skin/images/tongwen-edit.png"); }

.tongwen-main[noicon="true"] { list-style-image: url("chrome://tongwen/skin/images/tongwen-blank.png"); }
.tongwen-blank {  list-style-image: url("chrome://tongwen/skin/images/tongwen-blank.png"); }